#body { 
	background-color: white;
}
h1.title{
	padding-top: 60px;
	font-size: 4em;
	margin: auto;
	width: 50%;	
	text-align: center;
}
div.colour-box{
	margin: 5% auto;
	height: 100px;
	width: 100px;
	border:1px solid black;
}
.btn#red{
	padding: 6px 59.85px; 
    font-size: 21px;
}
.btn#blue{
	padding: 6px 56.35px; 
    font-size: 21px;
}
.btn#green{
	padding: 6px 40px; 
    font-size: 21px;
}