#body { 
	background-color: white;
}
h1.title{
	margin: auto;
	width: 50%;	
	text-align: center;
}

div.buttons{
	margin: 20% auto;
	width: 75%;
}

div.buttons > *{
	/* text-align: center; */
	width: 22%;
	margin: 0 5%;
	border-radius: 25%;
}